<div class="profile-wrapper">

    <div class="profile-header">

        <div>

            <h1 class="profile-title">
                My Account
            </h1>

            <p class="profile-subtitle">
                Manage your account information.
            </p>

        </div>

        <a href="/profile/edit" class="profile-edit">
            Edit
        </a>

    </div>

    <hr class="profile-divider">

    <div class="profile-info">

        <div class="profile-row">

            <span class="profile-label">
                Name
            </span>

            <span class="profile-value">
                <%= user.firstName %> <%= user.lastName %>
            </span>

        </div>

        <div class="profile-row">

            <span class="profile-label">
                Email
            </span>

            <span class="profile-value">
                <%= user.email %>
            </span>

        </div>

        <div class="profile-row">

            <span class="profile-label">
                Member Since
            </span>

            <span class="profile-value">
                <%= user.joinedDisplay %>
            </span>

        </div>

        <div class="profile-row">

            <span class="profile-label">
                Account Type
            </span>

            <span class="profile-value text-capitalize">
                <%= user.accountType %>
            </span>

        </div>

    </div>

    <hr class="profile-divider">

    <a href="/profile/deleted-thoughts" class="profile-trash">
        View Trash
    </a>

    <p class="profile-trash-text">
        Restore deleted thoughts.
    </p>

</div>